{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block body %}
    <div class="container">

        <h1>Работники студии</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-secondary" href="{{ path('app_user_worker_new') }}">Добавить работника</a>
        {% endif %}
        <div class="row">
            {% for worker in workers %}
                {% if worker.userWorker.roles != ['ROLE_ADMIN'] %}
                    <div class="col-sm-4 my-md-2">
                        <div class="card" style="height: 300px;">
                            <center>
                                <img class="card-img-top text-center w-75"
                                     src="{{ asset('assets/main/img/workers/' ~ worker.photo) }}" style="height:200px;"
                                     alt="Card image cap">
                            </center>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ worker.userWorker.name }}</h5>
                                <p class="card-text text-center">{{ worker.post.name }}</p>
                                <center>
                                    <a href="{{ path('app_worker_show', {'id': worker.id}) }}"
                                       class="card-link">Пройти</a>
                                </center>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                Работников не найдено
            {% endfor %}
        </div>
        <div class="container">
            <center>
                <img src="https://quickchart.io/chart?c={{chartsOptions}}">
            </center>
        </div>
    </div>
{% endblock %}
