{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Работники студии</h1>
        <div class="row">
            {% for worker in workers %}
                {% if worker.userWorker.roles != ['ROLE_ADMIN'] %}
                    <div class="col-sm-6 my-md-2">
                        <div class="card">
                            <center>
                                <img class="card-img-top text-center"
                                     src="{{ asset('assets/main/img/workers/' ~ worker.photo) }}" style="width:200px;"
                                     alt="Card image cap">
                            </center>
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ worker.userWorker.name }}</h5>
                                <p class="card-text text-center">{{ worker.post.name }}</p>
                                <center>
                                    <a href="{{ path('app_worker_show', {'id': worker.id}) }}"
                                       class="card-link">Пройти</a>
                                </center>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                Работников не найдено
            {% endfor %}
        </div>


    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_user_worker_new') }}">Создать</a>
    {% endif %}
    <a class="btn btn-outline-secondary mt-3" href="{{ path('app_home') }}">Вернуться на главную</a>
    </div>
{% endblock %}
