{% extends 'base.html.twig' %}

{% block title %}Worker index{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Работники студии</h1>
        <div class="row">
            {% for worker in workers %}

                <div class="col-sm-6 my-md-2">
                    <div class="card">
                        <img class="card-img-top text-center" src="{{ asset('assets/main/img/workers/' ~ worker.photo) }}"  style="width:200px;" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ worker.userWorker.name }}</h5>
                            <p class="card-text">{{ worker.post.name }}</p>
                            <a href="{{ path('app_worker_show', {'id': worker.id}) }}" class="card-link">Пройти</a>
                        </div>
                    </div>
                </div>

            {% else %}
                Работников не найдено
            {% endfor %}
        </div>
    </div>

    <a href="{{ path('app_worker_new') }}">Create new</a>
{% endblock %}
