{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Предоставляемые услуги</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a class=" btn btn-primary" href="{{ path('app_service_new') }}">Создать</a>
            <a class=" btn btn-primary" href="{{ path('app_service_report') }}">Отчёт</a>
        {% endif %}
        <div class="row">

            {% for service in services %}

                <div class="col-sm-4 my-md-2">
                    <div class="card" style="height: 300px">

                        <div class="card-body"
                             style="background-image:url({{ asset('assets/main/img/services/' ~ service.photo) }});background-size: cover">
                            <h5 class=" text-dark card-title text-center">
                                {{ service.name }}

                            </h5>
                            <div class="opacity bg-light" style="height: 200px; ">
                                <p class=" text-black card-text text-center ">{{ service.description }} Стоимость
                                    услуги {{ service.price }} рублей
                                </p>
                                <center>
                                    {% if averages[service.name] > 0 %}
                                        <h3>Средний рейтинг {{ averages[service.name] }}</h3>
                                    {% else %}
                                        <h3>Нет оценок</h3>
                                    {% endif %}
                                </center>
                            </div>
                            <a href="{{ path('app_service_show', {'id': service.id}) }}"
                               class="mt-2 card-link btn btn-primary">Пройти</a>

                        </div>
                    </div>
                </div>

            {% else %}
                Услуг не найдено
            {% endfor %}
        </div>
    </div>
    <style>
        .opacity {
            opacity: 0.6;
        }
    </style>
{% endblock %}