{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        {% if message %}
            <p class="text-danger"> {{ message }}</p>
        {% endif %}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Подтвердить') }}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}
