{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1 class="text-center">Выбранная дата {{ data.dateReservation|date('Y-m-d') }}</h1>
    <center>
    {% for time in times %}
        {% if (checkedThisDay == true) %}
            {% if (time > thisTime) and (time != 'occupied') %}
                <a href="{{ path('app_reservation_info', {'worker': data.worker.id ,'service': data.service.id,'date': data.dateReservation|date('Y-m-d'), 'time':time}) }}" class="btn btn-primary">{{ time }} </a>
            {% endif %}
        {% elseif time != 'occupied' %}
            <a href="{{ path('app_reservation_info', {'worker': data.worker.id, 'service': data.service.id,'date': data.dateReservation|date('Y-m-d'), 'time':time}) }}" class="btn btn-primary">{{ time }} </a>
        {% endif %}
    {% endfor %}
    </center>
    </div>
{% endblock %}