{% extends 'base.html.twig' %}
{% block body %}

    <div class="card">
        <center>
            <img class="card-img-top text-center"
                 src="{{ asset('assets/main/img/services/' ~ reservation.service.photo) }}" style="width:200px;"
                 alt="Card image cap">
        </center>
        <div class="card-body">
            <h5 class="card-title text-center">Информация о записи!</h5>
            <p class="card-text text-center fs-5">
                <a style="color: #B0413E">Время начала процедуры {{ reservation.startTime|date('H:i') }}</a><br>
                <a style="color: #B0413E">Дата бронирования {{ reservation.dateReservation|date('Y-m-d') }}</a><br>
                <a>Приблизительное время окончания процедуры {{ reservation.endTime|date('H:i') }}</a><br>
                <a>Название услуги {{ reservation.service.name }}</a><br>
                <a>Имя работника {{ reservation.worker.userWorker.name }}</a><br>
                <a>Цена за услугу {{ reservation.price }}</a><br>
            </p>
            {{ form_start(form) }}
            <div class="container">
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Подтвердить') }}</button>
                <a class="btn btn-danger" href="{{ path('app_reservation') }}">Отмена</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>




{% endblock %}