{% extends 'base.html.twig' %}

{% block title %}Информация о записи!{% endblock %}

{% block body %}
    {{ include('reservation/_form.html.twig') }}
    <div class="container">
        <h1> Информация о записи</h1>
        <a>{{reservation.id}}</a>
        <a>{{reservation.endTime|date('H:i')}}</a>
        <a>{{reservation.startTime|date('H:i')}}</a>
        <a>{{reservation.dateReservation|date('Y-m-d')}}</a>
        <a>{{reservation.service.name}}</a>
        <a>{{reservation.worker.userWorker.name}}</a>
        <a href="{{ path('app_reservation') }}">Назад</a>
    </div>
{% endblock %}