{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div class="container-fluid w-75">
        <h1> Ваши записи:</h1>

        {#если есть прошедшие записи#}
        {% if reservationsPast or reservationsCurrent1 %}
            <h3>Предыдущие записи:</h3>
            {% for reservation in reservationsPast %}

                <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                <p>Дата начала процедуры {{ reservation.startTime|date('H:i') }}</p>
                <p>Примерная дата окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                <p>Ваш комментарий {{ reservation.comment }}</p>
                <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>

            {% endfor %}

            {#если есть сегоднешние записи которые прошли#}
                {% for reservation in reservationsCurrent1 %}
                    <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                    <p>Дата начала процедуры {{ reservation.startTime|date('H:i') }}</p>
                    <p>Примерная дата окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                    <p>Ваш комментарий {{ reservation.comment }}</p>
                    <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                {% endfor %}
        {% endif %}

        {#если есть сегоднешние записи в данный момент#}
        {% if reservationsCurrent2 %}
            <h3>Текущие записи:</h3>
            {% for reservation in reservationsCurrent2 %}
                <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                <p>Дата начала процедуры {{ reservation.startTime|date('H:i') }}</p>
                <p>Примерная дата окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                <p>Ваш комментарий {{ reservation.comment }}</p>
                <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
            {% endfor %}
        {% endif %}

        {#если есть предстоящие записи#}
        {% if reservationsFuture or reservationsCurrent3 %}
            <h3>Предстоящие записи:</h3>

            {#если есть сегоднешние записи которые предстоят#}
                {% for reservation in reservationsCurrent3 %}
                    <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                    <p>Дата начала процедуры {{ reservation.startTime|date('H:i') }}</p>
                    <p>Примерная дата окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                    <p>Ваш комментарий {{ reservation.comment }}</p>
                    <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                    {{include('reservation/_delete_form.html.twig')}}
                {% endfor %}

            {% for reservation in reservationsFuture %}
                <p class="text-info">Дата процедуры: {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                <p>Дата начала процедуры: {{ reservation.startTime|date('H:i') }}</p>
                <p>Примерная дата окончания процедуры: {{ reservation.endTime|date('H:i') }}</p>
                <p>Ваш комментарий: {{ reservation.comment }}</p>
                <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}.</p>
                {{include('reservation/_delete_form.html.twig')}}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}