{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div class="text-center container-fluid w-75">
    <h1> Ваши записи:</h1>

    {# если есть прошедшие записи #}
    {% if reservationsPast or reservationsCurrent1 %}
        <h3>Предыдущие записи:</h3>
            <div class="row justify-content-md-center">
                {% for reservation in reservationsPast %}
                    <div class="col-sm-3 my-md-2 border border-4 border-info m-2">
                        <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                        <p>Время начала процедуры {{ reservation.startTime|date('H:i') }} примерное время окончания
                            процедуры {{ reservation.endTime|date('H:i') }}</p>
                        <p>Ваш комментарий {{ reservation.comment }}</p>
                        <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                    </div>
                {% endfor %}

                {# если есть сегоднешние записи которые прошли #}
                {% for reservation in reservationsCurrent1 %}
                    <div class="col-sm-3 my-md-2 border border-4 border-info m-2">
                        <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                        <p>время начала процедуры {{ reservation.startTime|date('H:i') }}
                            примерное время окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                        <p>Ваш комментарий {{ reservation.comment }}</p>
                        <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                    </div>
                {% endfor %}
            </div>
    {% endif %}


    {# если есть сегоднешние записи в данный момент #}
    {% if reservationsCurrent2 %}
        <h3>Текущие записи:</h3>
            <div class="row justify-content-md-center">
                {% for reservation in reservationsCurrent2 %}
                    <div class="col-sm-3 my-md-2 border border-4 border-info m-2">
                        <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                        <p>Время начала процедуры {{ reservation.startTime|date('H:i') }}
                            примерное время окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                        <p>Ваш комментарий {{ reservation.comment }}</p>
                        <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                    </div>
                {% endfor %}
            </div>
    {% endif %}


    {# если есть предстоящие записи #}
    {% if reservationsFuture or reservationsCurrent3 %}
        <h3>Предстоящие записи:</h3>
            <div class="row justify-content-md-center">
                {# если есть сегоднешние записи которые предстоят #}
                {% for reservation in reservationsCurrent3 %}
                    <div class="col-sm-3 my-md-2 border border-4 border-info m-2">
                        <p class="text-info">Дата процедуры {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                        <p>Дата начала процедуры {{ reservation.startTime|date('H:i') }}
                            примерное время окончания процедуры {{ reservation.endTime|date('H:i') }}</p>
                        <p>Ваш комментарий {{ reservation.comment }}</p>
                        <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}</p>
                        {{ include('reservation/_delete_form.html.twig') }}
                    </div>
                {% endfor %}

                {% for reservation in reservationsFuture %}
                    <div class="col-sm-3 my-md-2 border border-4 border-info m-2">
                        <p class="text-info">Дата процедуры: {{ reservation.dateReservation|date('Y-m-d') }}:</p>
                        <p>Дата начала процедуры: {{ reservation.startTime|date('H:i') }}
                            - примерное время окончания процедуры: {{ reservation.endTime|date('H:i') }}</p>
                        <p>Ваш комментарий: {{ reservation.comment }}</p>
                        <p>Мастер {{ reservation.worker.userWorker.name }} по услуге {{ reservation.service.name }}.</p>
                        {{ include('reservation/_delete_form.html.twig') }}
                    </div>
                {% endfor %}
            </div>
    {% endif %}
{% endblock %}