{% extends 'base.html.twig' %}

{% block title %}Заметки о {{ client.userClient.name }}{% endblock %}

{% block body %}
    <div class="container w-75 bg-gradient bg-light">
        <center>
            <h1>Заметки</h1>
            <div class="container">
                {% for record in records %}
                <center>
                    <div class="row row-cols-auto border border-dark justify-content-md-center p-4 m-4">

                            <div class="col">
                                <h3> {{ record.text }}</h3>
                            </div>
                            <div class="col">
                                <a class="fs-6"
                                   href="{{ path('app_diary_edit', {'id': record.id, 'client' : client.id}) }}">изменить</a>
                            </div>

                            <div class="col"> {{ include('diary/_delete_form.html.twig') }}</div>

                    </div>
                </center>
                {% else %}
                    <p>нет заметок</p>
                {% endfor %}

            </div>
            <a class="fs-5" href="{{ path('app_diary_new' , {'client' : client.id}) }}">Написать заметку</a>
        </center>
    </div>

{% endblock %}
