<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <header></header>
    <nav>
        <ul class="top-menu">
            <center>
                <a class="btn" href="/">Главная страница</a>
                <a class="btn" href="/service/">Предоставляемые услуги</a>
                <a class="btn" href="/worker">Наши работники</a>
                <a class="btn" href="/about">О нас</a>
                <a class="btn" href="">Акции</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="btn" href="{{ path('app_reservation_index') }}">Бронирования</a>
                    <a class="btn" href="{{ path('app_post_index') }}">Должность</a>
                    <a class="btn" href="{{ path('app_message_index1') }}">Сообщения</a>
                {% endif %}
                {% if is_granted('ROLE_WORKER') %}
                    <a class="btn" href="{{ path('app_schedule_report') }}">График работы</a>
                    <a class="btn" href="{{ path('app_message_index1') }}">Сообщения</a>
                    <a class="btn" href="{{ path('app_diary_choice') }}">Заметки</a>
                {% endif %}
                {% if is_granted('ROLE_CLIENT') %}
                    <a class="btn" href="/reservation">Записаться</a>
                    <a class="btn" href="{{ path('app_reservation_client' , {'client' : app.user.client}) }}">Мои
                        записи</a>
                    <a class="btn" href="{{ path('app_message_index') }}">Сообщения</a>
                {% endif %}
                {% if app.user %}

                    <a class="btn" href="/logout">Выход</a>
                    <h5>Приветствуем Вас на нашем сайте, {{ app.user.surname }} {{ app.user.name }}</h5>
                {% else %}
                    <a class="btn" href="/register">Регистрация</a>
                    <a class="btn" href="/login">Вход</a>
                {% endif %}
        </ul>
        </center>
    </nav>

    <aside></aside>
    <section></section>
</div>

{% block body %}{% endblock %}
</body>
</html>

<style>
    #wrapper {
        max-width: 960px;
        margin: auto;
    }

    header {
        padding: 20px 0;
    }

    body {
        color: #8f8f8f;
        font: 12px Tahoma, sans-serif;
        background-color: #f8f8f8;
        border-top: 5px solid #7e7e7e;
        margin: 0;
    }

    input[type="text"] {
        background-color: #f3f3f3;
        border: 1px solid #e7e7e7;
        height: 30px;
        color: #b2b2b2;
        padding: 0 10px;
        vertical-align: top;
    }

    button {
        color: #fff;
        background-color: #29c5e6;
        border: none;
        height: 32px;
        font-family: 'Oswald', sans-serif;
    }

    p {
        margin: 20px 0;
    }

    nav a {
        text-decoration: none;
    }

    nav li {
        list-style-position: inside;
        font: 14px 'Oswald', sans-serif;

    }

    .top-menu li {
        display: inline-block;
        padding: 10px;
    }


    .top-menu a {
        color: #AAAAAA;
    }

    blockquote {
        margin: 0;
        background: #29c5e6;
        padding: 10px 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }

    blockquote p {
        color: #fff;
        font-style: italic;
        font-size: 33px;
        margin: 0;
    }

    blockquote cite {
        display: block;
        font-size: 20px;
        font-style: normal;
        color: #1d8ea6;
        margin: 0;
        text-align: right;
    }

    figure {
        display: inline-block;
        margin: 0;
        font-family: 'Oswald', sans-serif;
        font-weight: 300;
    }

    figure img {
        display: block;
        border: 1px solid #fff;
        outline: 1px solid #c9c9c9;
    }

    figure figcaption {
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }

    figure figcaption span {
        display: block;
        font-size: 14px;
        color: #29c5e6;
    }

    section > figure + figure {
        margin-left: 28px;
    }

    section > h2 {
        background: #29c5e6;
        font: 30px 'Oswald', sans-serif;
        font-weight: 300;
        color: #fff;
        padding: 0 10px;
        margin: 30px 0 0 0;
    }

    figure figcaption {
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }

    figure div {
        font-size: 14px;
        color: #29c5e6;
    }

    .team-row figure {
        margin-top: 20px;
    }

    .team-row figure + figure {
        margin-left: 43px;
    }

    footer {
        background: #7e7e7e;
        color: #dbdbdb;
        font-size: 11px;
    }

    #footer {
        max-width: 960px;
        margin: auto;
        padding: 10px 0;
        height: 90px;
    }

    footer a {
        color: #dbdbdb;
    }

    #sitemap {
        width: 150px;
        float: left;
        margin-left: 20px;
        padding-right: 15px;
    }

    #sitemap div {
        display: inline-block;
    }

    #sitemap a {
        display: block;
        text-decoration: none;
        font-size: 12px;
        margin-bottom: 5px;
    }

    #sitemap a:hover {
        text-decoration: underline;
    }
</style>
