{% extends 'base.html.twig' %}

{% block title %}Kpi{% endblock %}

{% block body %}
    <div class="container">
    <h1>Заработанная плата</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Вес объёма продаж</th>
                <td>{{ kpi.weightVolumeSales }}</td>
            </tr>
            <tr>
                <th>Минимальный объём продаж</th>
                <td>{{ kpi.minVolumeSales }}</td>
            </tr>
            <tr>
                <th>Фактический объём продаж</th>
                <td>{{ kpi.factVolumeSales }}</td>
            </tr>
            <tr>
                <th>Планируемый объём продаж</th>
                <td>{{ kpi.plannedVolumeSales }}</td>
            </tr>
            <tr>
                <th>Вес величины качества обслуживания</th>
                <td>{{ kpi.weightQualityService }}</td>
            </tr>
            <tr>
                <th>Минимальная величина качества обслуживания</th>
                <td>{{ kpi.minQualityService }}</td>
            </tr>
            <tr>
                <th>Фактическая величина качества обслуживания</th>
                <td>{{ kpi.factQualityService }}</td>
            </tr>
            <tr>
                <th>Планируемая величина качества обслуживания</th>
                <td>{{ kpi.plannedQualityService }}</td>
            </tr>
            </tbody>
        </table>

    <h1>Коэффицент {{ salaryKPI }}</h1>
    <h1>Заработанная плата {{ salary }}</h1>
    {{ include('kpi/_delete_form.html.twig') }}
    </div>
{% endblock %}
